.headerh{
   z-index:1000;
   margin: 0;
   display:flex;
   min-height: 70px;
   background-color:#f0f4f8;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
}
.headerh .containerh{
   display:flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
   margin-right: 10px;
   margin: 0 auto;
   flex-wrap: wrap;
}
.navigationh a{
   margin: 0;
   color:#95C1C1;
   text-decoration: none;
   padding: 5px;
   transition: all 0.2s linear;
   border-radius: 5px;
}
.headerh a:hover{
   background-color: #AEE0E0;
   color:#ffff;
   border-radius: 50px;
}
.headerh img{
   height: 75px;
   margin-top: 10px;
   margin-right: 10px;
}

body{
   background-image:url(../Imagenes/background.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   display: flex;
   margin-top: 10%;
   flex-direction: column;
   align-items: center;
   font-family: Verdana, sans-serif;
}


.divpartes{
   width: 80%;
   display:flex;
}
 .izq{
   width:50%;
   text-align: left;
 }
.der{
   width:50%;
   text-align: left;
}
.introduccion h3{
   color:#95C1C1;
}
.introduccion p{
   color:#4b4b4b;
}
.Comentarios h4{
   color:#95C1C1;
}
.contenedor-comentarios{
   display:flex;
   flex-wrap: wrap;
   width: 100%;
 }
 .cajita{
   width: 500px;
   box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
   background-color: #f0f4f8;
   padding:20px;
   margin:15px;
   cursor:pointer;
 }
 .imagen-perfil{
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow:hidden;
   margin-right: 10px;
 }
 .imagen-perfil img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
 }
 .perfil{
   display:flex;
   flex-direction: center;
 }
 .nombre-usuario{
   display:flex;
   flex-direction:column;
 }
 .nombre-usuario strong{
   color:#95C1C1;
   font-size: 1,1rem;
   letter-spacing: 0.5px;
 }
 .nombre-usuario span{
   color:#979797;
   font-size: 0.8rem;
 }
 .reviews{
   color:#F5D685;
 }
 .top-cajita{
   display:block;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}
.comentarios-user p{
   margin-top: 20px;
   font-size: 0.9rem;
   color:#4b4b4b;
}

.chat {
	margin-top: auto;
	margin-bottom: auto;
}

.card {
	height: 500px;
	border-radius: 15px  ;
	background-color:#aee0e065;
}

.contacts_body {
	padding: 0.75rem 0;
	overflow-y: auto;
	white-space: nowrap;
}

.msg_card_body {
	overflow-y: auto;
}

.card-header {
	border-radius: 15px 15px 0 0  ;
	border-bottom: 0  ;
}

.card-footer {
	border-radius: 0 0 15px 15px  ;
	border-top: 0  ;
}

.type_msg {
	background-color: rgba(0, 0, 0, 0.3)  ;
	border: 0  ;
	color: white  ;
	height: 60px  ;
	overflow-y: auto;
}

.type_msg:focus {
	box-shadow: none  ;
	outline: 0px  ;
}

.attach_btn {
	border-radius: 15px 0 0 15px  ;
	background-color: rgba(0, 0, 0, 0.3)  ;
	border: 0  ;
	color: white  ;
	cursor: pointer;
}

.send_btn {
	border-radius: 0 15px 15px 0  ;
	background-color: rgba(0, 0, 0, 0.3)  ;
	border: 0  ;
	color: white  ;
	cursor: pointer;
}

.search_btn {
	border-radius: 0 15px 15px 0  ;
	background-color: rgba(0, 0, 0, 0.3)  ;
	border: 0  ;
	color: white  ;
	cursor: pointer;
}

.contacts {
	list-style: none;
	padding: 0;
}

.contacts li {
	width: 100%  ;
	padding: 5px 10px;
	margin-bottom: 15px  ;
}

.user_img {
	height: 60px;
	width: 60px;
	border: 1.5px solid #f5f6fa;
}

.user_img_msg {
	height: 40px;
	width: 40px;
	border: 1.5px solid #f5f6fa;
}

.img_cont {
	position: relative;
	height: 70px;
	width: 70px;
}

.img_cont_msg {
	height: 40px;
	width: 40px;
}



.user_info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.user_info span {
	font-size: 20px;
	color: white;
}

.user_info p {
	font-size: 10px;
	color: rgba(255, 255, 255, 0.6);
}

.video_cam {
	margin-left: 50px;
	margin-top: 5px;
}

.video_cam span {
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.msg_cotainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color:#F5D685;
	padding: 10px;
	position: relative;
}

.msg_cotainer_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color:#82ccdd;
	padding: 10px;
	position: relative;
}

.msg_time {
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
}

.msg_time_send {
	position: absolute;
	right: 0;
	bottom: -15px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
}

.msg_head {
	position: relative;
}

#action_menu_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}

.action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}

.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}

.action_menu ul li i {
	padding-right: 10px;
}

.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@media(max-width: 576px) {
	.contacts_card {
		margin-bottom: 15px  ;
	}
}