/* Establecer un fondo de imagen */
.header{
    z-index:1000;
    margin: 0;
    display:flex;
    min-height: 70px;
    background-color:#f0f4f8;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.menu-icon{
    display:none;
}
.navigation a{
    margin: 0;
    color:#95C1C1;
    text-decoration: none;
    padding: 5px;
    transition: all 0.2s linear;
    border-radius: 5px;
}
.header a:hover{
    background-color: #AEE0E0;
    color:#ffff;
    border-radius: 50px;
}
.header img{
    height: 75px;
    margin-top: 10px;
    margin-right: 10px;
}

body{
    background-image:url(../Imagenes/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.titulo_crianza {
    color: #95C1C1;
}
.titulo_charlar {
    color: #95C1C1;
}
.titulo_cuidados {
    color: #95C1C1;
}
.section {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 300px;
    border: 3px solid #95C1C1;
    border-radius: 5px;
}

.section img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.button {
    background-color: #F5D685;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#main-title {
    font-size: 60px;
    margin-bottom: 20px;
    color: #95C1C1;
    font-family: Verdana, sans-serif;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #95C1C1;
}

.search-container button {
    background-color: #F5D685;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.unirse{
    text-decoration: none;
    background-color: #F5D685;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




