.header{
    z-index:1000;
    margin: 0;
    display:flex;
    min-height: 70px;
    background-color:#f0f4f8;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
 
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
 }
 .header .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
 }
 .menu-icon{
    display:none;
 }
 .navigation a{
    margin: 0;
    color:#95C1C1;
    text-decoration: none;
    padding: 5px;
    transition: all 0.2s linear;
    border-radius: 5px;
 }
 .header a:hover{
    background-color: #AEE0E0;
    color:#ffff;
    border-radius: 50px;
 }
 .header img{
    height: 75px;
    margin-top: 10px;
    margin-right: 10px;
 }
 body{
   background-image:url(../Imagenes/background.png);
   margin:auto;
   position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: Verdana, sans-serif;
   min-height: 100vh;
   line-height: 30px;
   margin: 0;
 }
 .signup-title{
   font-size: 50px;
   color:#95C1C1;
   margin-top: 175px;
   line-height: 9px;
   text-align: center;
 }
 .form{
   margin:auto;
   width: 90%;
   max-width: 400px;
   padding:.5em 3em;
   text-align: center;
}
.form_container{
   margin-top: 3em;
   display:grid;
   gap:2.5em;
}
.form_group{
   position:relative;
   --color: #575757;
}
.form_input{
   width:100%;
   background:none;
   color:#95C1C1;
   padding:.6em .3em;
   border:none;
   outline:none;
   border-bottom: 1px solid var(--color);
   font-family: Verdana, sans-serif;
}
.form_input:focus+.form_label, .form_input:not(:placeholder-shown)+.form_label{
   transform:translateY(-12px) scale(.7);
   transform-origin: left top;
   color:#95C1C1;
}
.form_label{
   color:var(--color);
   cursor:pointer;
   position:absolute;
   top: 0;
   left: 5px;
   transform: translateY(10px);
   transition: transform .5s color .3s;
}
.form_submit{
   background:#F5D685;
   color:#f0f4f8;
   font-family: Verdana, sans-serif;
   font-size: 1rem;
   padding: .8em 0;
   border:none;
   border-radius: 5em;
}
.form_line{
   position:absolute;
   bottom:0;
   left:0;
   width: 100%;
   height: 1px;
   background-color: #95C1C1;
   transform: scale(0);
   transform:left bottom;
   transition:transform .8s;
}
.form_input:focus~.form_line, .form_input:not(:placeholder-shown)~.form_line{
   transform:scale(1);
}
 .botones{
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
 }
 .botones a{
    text-decoration: none;
    color:#95C1C1;
    padding: 10px 15px 10px;
    border: 10em solid #95C1C1;
    border-radius: 50px;
    border-width: 1px;
 }
 .botones a:hover{
    background-color: #AEE0E0;
    color:#ffff;
    border-radius: 50px;
 }